@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'OnulHeugdan';
  src: url('/fonts/OnulHeugdan-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'OnulHeugdan';
  src: url('/fonts/OnulHeugdan-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}